<style>
    .gllpMap {
        width: 900px;
        height: 600px;
    }
</style>

<div class="gllpLatlonPicker">
  <%= simple_form_for(@depot, html: {id: 'depot_form'}) do |f| %>
      <div class="form-inputs">
        <form id="origin_search text-right">
          <input type="text" class="gllpSearchField form-control">
          <input type="button" class="gllpSearchButton btn btn-sm btn-info" value="search">
        </form>
        <br/><br/>

        <div class="gllpMap">Google Maps</div>
        <input type="hidden" class="gllpZoom" value="17"/>
        <%= f.input :latitude, :input_html => {class: "gllpLatitude", value: f.object.latitude || "23.77952286287398"} %>
        <%= f.input :longitude, :input_html => {class: "gllpLongitude", value: f.object.longitude || "90.39457440376282"} %>
        <%= f.input :name, :input_html => {class: "gllpLocationName", value: f.object.name || "Mohakhali DOHS, Dhaka, Bangladesh"} %>
        <%= f.input :index %>
        <%= f.input :demand %>
        <%= f.input :symmetric_costs %>
      </div>
      <div class="form-actions">
        <button id="submit_depot_form" class="btn btn-primary">Submit</button>
      </div>
  <% end %>
</div>

<script type="application/javascript">
    $("#submit_depot_form").click(function () {
        $("#depot_form").submit();
    });
</script>